{% extends 'base.html' %}
{% block title %}
    高新区OA----我的工作台
{% endblock %}
{% block map %}
    <section class="content-header">
        <h1>
            我的工作台
            <small>需求呈现</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'index' %}"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li><a href="{% url 'personal:personal' %}">我的工作台</a></li>
        </ol>
    </section>
{% endblock %}
{% block content %}
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>0</h3>

              <p>已保存的工单</p>
            </div>
            <div class="icon">
              <i class="fa fa-pencil"></i>
            </div>
            <a href="#" class="small-box-footer">2019年01月</a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow ">
            <div class="inner">
              <h3>0</h3>

              <p>等待派发的工单</p>
            </div>
            <div class="icon">
              <i class="fa fa-send-o"></i>
            </div>
            <a href="#" class="small-box-footer">2019年01月</a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>0</h3>

              <p>等待执行的工单</p>
            </div>
            <div class="icon">
              <i class="glyphicon glyphicon-play"></i>
            </div>
            <a href="#" class="small-box-footer">2019年01月</a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-gray">
            <div class="inner">
              <h3>0</h3>

              <p>等待确认的工单</p>
            </div>
            <div class="icon">
              <i class="fa fa-check"></i>
            </div>
            <a href="#" class="small-box-footer">2019年01月</a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-md-12">
            <div class="box">
               <div class="box-header with-border">
                  <h3 class="box-title">工单数据统计</h3>
                  <div class="box-tools pull-right">
                    <div class="btn-group">
                      <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" title="选择统计类型">
                        <i class="fa fa-list-alt"></i></button>
                      <ul class="dropdown-menu bg-aqua" role="menu">
                        <li><a href="/personal/?value=0">工单提交统计</a></li>
                        <li><a href="/personal/?value=1">工单执行统计</a></li>
                      </ul>
                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
               </div>
            <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8">
                           <div id="bar_container" style="height: 400px; -webkit-tap-highlight-color: transparent; user-select: none; position: relative;" _echarts_instance_="ec_1547023830596"><div style="position: relative; overflow: hidden; width: 816px; height: 400px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;"><canvas data-zr-dom-id="zr_0" width="1020" height="500" style="position: absolute; left: 0px; top: 0px; width: 816px; height: 400px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div></div></div>
                        </div>
                        <div class="col-md-4">
                           <div id="pie_container" style="height: 400px; -webkit-tap-highlight-color: transparent; user-select: none; position: relative;" _echarts_instance_="ec_1547023830597"><div style="position: relative; overflow: hidden; width: 393px; height: 400px; padding: 0px; margin: 0px; border-width: 0px;"><canvas data-zr-dom-id="zr_0" width="491" height="500" style="position: absolute; left: 0px; top: 0px; width: 393px; height: 400px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div></div></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
      </div>
    </section>
{% endblock %}