{% extends 'base.html' %}
{% block title %}
    高新区OA----新增角色
{% endblock %}
{% block css %}
    <style type="text/css">
        .errorlist {
            color: red;
        }

    </style>
{% endblock %}
{% block map %}
    <section class="content-header">
        <h1>
            系统管理
            <small>权限菜单管理</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'index' %}"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li><a href="{% url 'system' %}">系统管理</a></li>
            <li><a href="{% url 'system_rbac:role' %}">角色管理</a></li>
        </ol>
    </section>
{% endblock %}
{% block content %}
    <div class="pad no-print">
        <div class="callout " style="margin-bottom: 0!important;">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">权限菜单新增</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" action="{% url 'system_rbac:menu_add' %}" method="post">
                    {% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">菜单名称</label>
                            <input type="text" class="form-control" name="title" placeholder="输入菜单名称"
                                   value="{{ m_form.title.value }}">
                        </div>
                        <div><strong class="errorlist">
                            {% for key,value in m_form.errors.items %}{% ifequal key 'title' %}{{ value }}
                            {% endifequal %}{% endfor %}{{ error_msg }}</strong></div>
                        <div class="form-group">
                            <label>上级菜单</label>
                            <select name='parent' class="form-control select2 select2-hidden-accessible"
                                    style="width: 100%;"
                                    tabindex="-1" aria-hidden="true">
                                <option selected="selected" value="">无</option>
                                {% for menu in all_menu %}
                                    <option
                                            value="{{ menu.id }}">{{ menu.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="is_top"
                                   {% if m_form.is_top.value %}checked="checked"{% endif %}/>是否首页显示
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">菜单图标</label>
                            <input type="text" class="form-control" name="icon" placeholder="输入图标"
                                   value="{{ m_form.icon.value }}">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">菜单编码</label>
                            <input type="text" class="form-control" name="code" placeholder="输入编码"
                                   value="{{ m_form.code.value }}">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">链接地址</label>
                            <input type="text" class="form-control" name="url" placeholder="输入链接地址"
                                   value="{{ m_form.url.value }}">
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function () {
            $('.select2').val({{ m_form.parent.value }})
        })
    </script>
{% endblock %}