{% extends 'base.html' %}
{% block title %}
    高新区OA----机构管理
{% endblock %}
{% block map %}
    <section class="content-header">
        <h1>
            系统管理
            <small>组织架构管理</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'index' %}"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li><a href="{% url 'system:system' %}">系统管理</a></li>
            <li><a href="{% url 'system:structure' %}">组织机构</a></li>
        </ol>
    </section>
{% endblock %}
{% block content %}

    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">组织机构</h3>

                        <div class="box-tools">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <div class="btn-group pull-left">
                                    <button type="button" id="btnCreate" class="btn btn-default">
                                        <i class="glyphicon glyphicon-plus"></i><a style="color: black"
                                                                                   href="{% url 'system:structure_add' %}">新增</a>
                                    </button>

                                </div>
                                <div class="btn-group pull-left">&nbsp;</div>
                                <div class="btn-group pull-left">
                                    <button type="button" id="btnDelete_select" class="btn btn-default">
                                        <i class="glyphicon glyphicon-trash"></i>删除
                                    </button>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="example2_wrapper" class="table table-bordered table-hover">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example2" class="table table-bordered table-hover dataTable" role="grid"
                                           aria-describedby="example2_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                                colspan="1"
                                                aria-sort="ascending"
                                                aria-label="Rendering engine: activate to sort column descending">
                                                <input type="checkbox"/>
                                            </th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                                colspan="1"
                                                aria-sort="ascending"
                                                aria-label="Rendering engine: activate to sort column descending">
                                                部门名称
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                colspan="1"
                                                aria-label="Browser: activate to sort column ascending">部门类型
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                colspan="1"
                                                aria-label="Platform(s): activate to sort column ascending">上级部门
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                colspan="1"
                                                aria-label="Platform(s): activate to sort column ascending">操作
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for structure in all_structure.object_list %}
                                            <tr role="row" class="odd">
                                                <td width="10px" class="sorting_1"><input type="checkbox"
                                                                                          value="{{ structure.id }}">
                                                </td>
                                                <td class="sorting_1">{{ structure.title }}</td>
                                                <td>{{ structure.get_type_display }}</td>
                                                <td>{{ structure.parent.title }}</td>
                                                <td><a href="{% url 'system:structure_edit' %}?s_id={{ structure.id }}"
                                                       style="color:black">
                                                    <button title="详情-编辑"><i
                                                            class="glyphicon glyphicon-pencil"></i></button>
                                                </a>
                                                    <button title="关联用户"><i
                                                            class="glyphicon glyphicon-user"></i></button>
                                                    <button title="删除" class="btndelete_by_id"><i
                                                            class="glyphicon glyphicon-trash"></i></button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                                        <b> 显示 {{ all_structure.start_index }}
                                            至 {{ all_structure.end_index }}
                                            共计
                                            {{ count }} 条数据</b>
                                    </div>
                                </div>
                                <div class="col-sm-7" style="text-align: center;">
                                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                        <ul class="pagination">
                                            {% if all_structure.has_previous %}
                                                <li class="paginate_button previous" id="example2_previous"><a
                                                        href="?{{ all_structure.previous_page_number.querystring }}">上一页</a>
                                                </li>
                                            {% endif %}
                                            {% for page in all_structure.pages %}
                                                {% if page %}
                                                    {% ifequal page all_structure.number %}
                                                        <li class="paginate_button active"><a
                                                                href="?{{ page.querystring }}">{{ page }}</a>
                                                        </li>
                                                    {% else %}
                                                        <li class="paginate_button"><a
                                                                href="?{{ page.querystring }}">{{ page }}</a>
                                                        </li>
                                                    {% endifequal %}
                                                {% else %}
                                                    <li class="paginate_button"><a>...</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if all_structure.has_next %}
                                                <li class="paginate_button next" id="example2_next"><a
                                                        href="?{{ all_structure.next_page_number.querystring }}">下一页</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function () {
            $('.btndelete_by_id').each(function () {
                $(this).click(function () {
                    var id = $(this).parent().parent().children().first().children().first().val()
                    delete_struct(id)
                })
            })
            function delete_struct(id) {
                $.ajax({
                    type: "POST",
                    url: "{% url 'system:structure_delete' %}",
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}', 'id': id},
                    success: function (msg) {
                        if (msg.status == 'success') {
                            alert("删除成功");
                            window.location.reload()
                        } else if (msg.status == 'fail') {
                            alert('删除出错!!!')
                        }
                    }
                });
            }
        })
    </script>
{% endblock %}